* {
    padding: 0;
    margin: 0;
    font-family: 'Syne Mono', monospace;
}
header {
    height: 80px;
    width: 100%;
    background-color: #800000;
}
header h1 {
    width: 360px;
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
    color: #ffffff;
}
main {
    padding-top: 30px;
    width: 100%;
}
main h2 {
    margin: 0 auto;
    width: 90%;
    text-align: center;
}
main p {
    margin: 0 auto;
    padding: 15px;
    width: 80%;
    min-width: 200px;
    text-align: center;
}
main .box-container {
    display: grid;
    margin: 0 auto;
    padding: 30px 0;
    width: 98%;
    grid-template-columns: 1fr 1fr 1fr;
}
main .box-container section {
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: solid 3px #800000;
    box-shadow: 0px 5px 15px 1px rgba(128,0,0,0.65);
}
main .box-container .square-container h3 {
    width: 100%;
    text-align: center;
}
main .box-container .square-container p {
    padding: 15px 0;
    margin: 0 auto;
    width: 100%;
}
main .box-container .square-container input {
    width: 90%;
    height: 30px;
    margin: 0.54rem;
}
main .box-container .square-container div {
    display: grid;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 25px;
    width: 98%;
    grid-template-columns: 1fr 1fr;
}
main .box-container .square-container div button {
    margin: 0 auto;
    width: 85%
}
main .box-container .triangle-container h3 {
    width: 100%;
    padding: 15px 0;
    text-align: center;
}
main .box-container .triangle-container p {
    padding: 15px 0;
    margin: 0 auto;
    width: 100%;
}
main .box-container .triangle-container .input-container {
    display: grid;
    margin: 0 auto;
    width: 95%;
    grid-template-columns: 1fr 1fr;
}
main .box-container .triangle-container .input-container p {
    font-size: 14px;
    padding: 5px 0;
}
main .box-container .triangle-container .input-container input {
    width: 90%;
    height: 30px;
}
main .box-container .triangle-container .button-container {
    display: grid;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 25px;
    width: 98%;
    grid-template-columns: 1fr 1fr;
}
main .box-container .triangle-container .button-container button {
    margin: 0 auto;
    width: 85%
}
main .box-container .circle-container input {
    width: 90%;
    height: 30px;
    margin: 0.54rem;
}
main .box-container .circle-container .button-container {
    display: grid;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 25px;
    width: 98%;
    grid-template-columns: 1fr 1fr;
}
main .box-container .circle-container .button-container button {
    margin: 0 auto;
    width: 85%
}